body {
	background: #fefefe;
	color: #333;
}
.heading {
	color: #00487c;
}
.sectionHeader, .diaryHeader {
		color: #1460aa;
}

.thirdHeader {
	color: #0496ff;
}

.link {
	color: #1a936f;
}

.main {
	width: 100%;
	max-width: 700px;
	margin: 32px auto;
}

.paragraph {
	padding: 10px 20px;
}