body {
	background: #fefefe;
	color: #333;
}

.header__title {
	color: #00487c;
	padding: 24px 0 0 0;
}

.navigation {
	position: fixed;
	width: 100%;
	padding: 10px;
	top: 0;
	left: 0;
	box-sizing: border-box;
	background: #cccccc;
	text-align: center;
}

.navigation__link {
	color: #1a936f;
	text-decoration: none;
}

.main {
	width: 100%;
	max-width: 700px;
	margin: 32px auto;
}

.about {

}

.about__header {
	color: #1460aa;
}

.about__picture {
	width: 100%;
	max-width: 100px;
	display: block;
	float: left;
	margin: 0 16px 16px 0;
}

.about__paragraph {
	padding: 0;
	line-height: 24px;
}

.about__paragraph--mini {
	font-size: 10px;
}

.about__link {
	color: #1a936f;
}

.diary__header {
	color: #1460aa;
}

.day {
	padding: 16px;
}

.day__header {
	color: #0496ff;
	margin: 0 0 16px;
	font-size: 20px;
}

.day__header--weekend {
	color: red;
}

.day__paragraph {
	padding: 0;
	margin: 0;
	line-height: 24px;
}

.day__link {
	color: #1a936f;
}

.article {

}

.article__title {
	color: #00487c;
	padding: 24px 0 0 0;
}

.article__paragraph {
	padding: 0;
}

.article__picture {
	width: 100%;
	max-width: 200px;
	display: block;
}

.article__picture--right {
	float: right;
	margin: 0 0 0 16px;
}

.article__picture--left {
	float: left;
	margin: 0 16px 16px 0 ;
}

.article__footer {
	padding: 24px;
	font-style: italic;
	color: #3c359b;
}

.footer {
	position: fixed;
	width: 100%;
	padding: 10px;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	border-top: #006400 solid 2px;
	text-align: center;
	background-color: #fff;
}